cat <<EOF > .gitignore
# VS Code / tooling
vscode_cli.tar.gz
.vscode/

# HPC outputs
*.out
*.err
SendRecvR*
ReduceR*

# Binaries
*.o
send_recv
reduce
# Compiled binaries only
mat_mult*
!mat_mult*.c
!mat_mult*.sh
EOF
